<header class="page-header">
  <div class="container">
    <h1 class="logo">Imly!</h1>
  </div>
</header>
<div class="container">
  <form #form action="/trim" method="post" class="form">
    <input type="url" required autofocus name="inputUrl" placeholder="e.g. https://twitter.com" id="input-url">
    <button #submitUrl (click)="form.classList.toggle('loading');" type="submit" value="shorten" id="submit-url">Shorten</button>
  </form>

  <section class="results">
    <h2>Here's your sweeter link!</h2>
    <p class="short-link">
      https://im.ly/1abc51
    </p>
    <img class="qr-code" [src]="qrCodeApiLink" alt="">
  </section>
</div>

