.logo {
  padding-top: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
}
#submit-url {
  background: white;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
  transition: 0.3s;
  width: 200px;
}
#submit-url::after {
  content: '!';
}
#input-url {
  margin-bottom: 1rem;
  transition: 0.3s;
}
.loading #submit-url {
  width: 200px;
  border-radius: 50px;
}
.loading #submit-url::after {
  content: 'ing...';
}
.shortener-results {
  display: flex;
  padding: 2rem 0;
  border-top: 4px solid #222;
}
.short-link {
  margin-bottom: 1rem;
}
.qr-code {
  padding: 1em;
  border: 4px solid #222;
  border-radius: 4px;
}

.shortener-form__section {
  padding: 1em 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.shortener-form__section input[type=checkbox] {
  display: inline;
  margin-right: 1em;
  width: auto;
}

.shortener-results__qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shortener-results__btn-copy {
  background: white;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
  width: 200px;
}
